.hero {
    background-image: url(../img/beach.webp);
    background-size: cover;
}

/* .parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

 .parallax1 {
    background-image: url(../img/mountains.jpeg);
    background-size: cover;
 }

 .parallax2 {
    background-image: url(../img/beach1.webp);
    background-size: cover;
 }
 .parallax3 {
    background-image: url(../img/desert.jpeg);
    background-size: cover;
 }

 .parallax4 {
    background-image: url(../img/city.jpeg);
    background-size: cover;
 }

 #main-text {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
  }
body {
    font-family: 'Open Sans', sans-serif;
}

.hoverb:hover {
    background-color: black;
}
.ul-width {
    width: fit-content;
}

.social {
    text-decoration: none;
    color: white;
}

.social:hover {
    color: black;
}

@media only screen and (max-width: 800px) {
    .parallax {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
  }

  @media only screen and (min-width:801px) {
    .parallax{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
  }

